// lan
$direction: 'en';
$floatLeft: left;
$floatRight:right;
$textLeft:left;
$textRight:right;

// *colors
// generic
$white:#fff;
$borderColor:#f9f9f9;

// text
$mainTextColor:#292e39;
$subTextColor:#686868;

// bg
$blue:#2f70ec;
$red:#d81d2f;
$yellow:#fbba20;
$green:#25b869;
$linearGradient: linear-gradient(#a81423, $red);

// font
$font:Helvetica,
Arial,
sans-serif;

// other
$radius:5px;
$shadow:rgba(0, 9, 128, .05);