// !START SEO
meta(name="description" content="Angry Birds is a fun game that skips the pigs and collects golden eggs.")
meta(name="author" content="Eissa Saber")
// START SHARE
// All Websites
meta(property="og:title" content="Angry Birds")
meta(property="og:description" content="Angry Birds is a fun game that skips the pigs and collects golden eggs.")
meta(property="og:image" content="https://eissa.xyz/angry-birds/img/thumbnail.jpg")
meta(property="og:url" content="https://eissa.xyz/angry-birds")
meta(property="og:site_name" content="Angry Birds")
meta(property="og:type" content="website")
// Twitter
meta(name="twitter:card" content="summary")
meta(name="twitter:title" content="Angry Birds")
meta(name="twitter:description" content="Angry Birds is a fun game that skips the pigs and collects golden eggs.")
meta(name="twitter:image" content="https://eissa.xyz/angry-birds/img/thumbnail.jpg")
// END SHARE
link(href="https://eissa.xyz/angry-birds" rel="canonical")
meta(name="robots" content="index, follow")
// !END SEO
